<md-toolbar class= "md-padding md-hue-2" layout="row">
    <div class="md-toolbar-tools">
        <img src="assets/img/agerologo.png" style="height: 40px;" />
        <span flex></span>
        <h5><span>Logout</span></h5>
    </div>
</md-toolbar >

<div class="container" flex layout="row">
            <md-nav-bar md-selected-nav-item="currentPage " nav-bar-aria-label="navigation links ">
                <md-nav-item md-nav-href="#jobs" name="jobs">Jobs</md-nav-item>
                <md-nav-item md-nav-href="#requests" name="requests">Submitted Requests</md-nav-item>
            </md-nav-bar>
</div>