<div ng-include src='"partials/nav.html"'></div>
<md-content layout="row" class="md-no-momentum" flex="15%">
    <md-input-container layout="row" class="md-icon-float md-block" flex>
        <label>Enter search string</label>
        <md-icon>search</md-icon>
        <input ng-model="searchString" type="text">
    </md-input-container>
</md-content>
<md-content flex>
    <md-list>
        <md-list-item class="md-body-1" ng-repeat="d in jobData | filter:searchString" ng-click="null">
                   {{d.poRefNum}} - {{ d.dispType}} - {{d.date}} - {{d.address}}
            <md-divider></md-divider>     
        </md-list-item>
    </md-list>
</md-content>